.navbar {
  background-color: #150037;
  width: 100vw;
  height: 9vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;

  .logo {
    width: 64px;
    height: 64px;
    margin-left: 2vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
